.calendar-content { 
   margin-bottom: 90px;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  font-family: "HanHei SC","PingHei","PingFang SC","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.calendar-content .elem-proxy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: transparent;
}
.calendar-content ul {
  list-style: none;
}
.calendar-bar {
  display: -webkit-flex;
  position: fixed;
  top:44px;
  margin: 0;
  padding: 0 10px;
  border-bottom: 1px solid #ebebeb;
  height: 36px;
  line-height: 36px;
  width: 100%;
  background-color: #f4f4f4;
  z-index: 10011;
  box-sizing: border-box;
  font-size:13px;
}
.calendar-bar li {
  flex: 1;
  text-align: center;
}
.calendar-bar li:first-child,
.calendar-bar li:last-child {
  color: #ff5555;
}
.calendar-items {
  position: relative;
  margin-top: 37px;
  height: 100%;
}
.calendar-title {
  text-align: center;
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  color: #353535;
  letter-spacing: 1px;
}
.calendar-month {
  margin-bottom: 5px;
  border-bottom: 1px solid #ebebeb;
}
.calendar-days {
  padding: 10px;
}
.calendar-days li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14.28%;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}
/*节假日*/
.calendar-days li.holiday,
.calendar-days li.fest,
.calendar-days li.today,
.calendar-days li.weekend {
  color: #ff5555;
}
.today .calendar-text,
.fest .calendar-text {
  font-size: 12px;
  font-weight: bold;
}
.calendar-days li.workday {
  color: #333;
}
/*禁止点击状态*/
.calendar-days li.disabled {
  color: #b2b2b2;
}
/*日期右上角文字*/
.calendar-remark {
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 12px;
  line-height: 0;
  font-weight: bold;
}

/*入住和离店*/
.calendar-day-select {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: hsl(37, 100%, 50%);
}

.calendar-day-select.select-start {
  border-radius:  5px;
}

.calendar-day-select.select-single {
  border-radius: 5px;
}


.calendar-day-select.select-end {
  border-radius: 5px ;
}

.calendar-day-select span {
  position: absolute;
  text-align: center;
  line-height: normal;
  width: 100%;
  text-align: center;
}

.calendar-day-select span.day {
  top: 5px;
  left: 0;
  font-size: 17px;
}

.calendar-day-select span.text {
  left: 0;
  bottom: 6px;
  font-size: 12px;
}

/*激活状态*/
.calendar-days li.active {
  color: #49f;
  background-color: #deeaff;
}
.calendar-days li.disabled.active {
  background-color: #fff;
}
.calendar-days li.active .calendar-remark {
  display: none;
}
#dateTimesBox{
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: hsl(0, 0%, 96%);
  border-top: 1px solid hsl(0, 0%, 96%);
  z-index: 555;
  margin:0px;
  padding: 7px 1%;
  font-size:13px;
}
#dateTimesBox a{ 
  text-align: center;
  width:30.66%; 
  margin:4px 1% 4px;
  display: block;
  padding: 8px 0;
  font-size: 14px;
  text-decoration:none;
  float: left;
  box-sizing: border-box;
  background-color: #fff;
  border-radius:2px;
  color:hsl(0, 2%, 26%);
}

#dateTimesBox a.active{
  background-color: hsl(37, 100%, 50%);
  color: #fff;
}