@charset "utf-8";
/*******************************************************
时间：2016-1-3
******************************************************/

/**公共**/
body
{

 webkit-overflow-scrolling: touch;
 color:#7a7a7a;;
     -webkit-tap-highlight-color: transparent;
      tap-highlight-color: transparent;
       font-family: "microsoft yahei";
        font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
  background:#fff;
  font:.8em/1.8 "microsoft yahei","Tahoma",\5b8b\4f53,Arial;
}

html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, input, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, h1, h2, h3, h4, h5, h6
{
margin: 0;
padding: 0;
list-style-type: none;

  
}
input, textarea, select, radio, checkbox {
  outline: 0;
  resize: none;
  vertical-align: middle;
   font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;


}
input[type=radio] {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
  vertical-align: bottom;
  background: #fff;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  }
  input[type=checkbox]:active,
  input[type=radio]:active {
  border-color: #c6c6c6;
  background: #ebebeb;
  }
  input[type=checkbox]:hover {
  border-color: #c6c6c6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  }
  input[type=radio] {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  width: 20px;
  height: 20px;
  }
  input[type=checkbox]:checked,
  input[type=radio]:checked {
  background: #fff;
  }
  input[type=radio]:checked::after {
  content: '';
  display: block;
  position: relative;
  top: 5px;
  left:6px;
  width: 7px;
  height: 7px;
  background: #666;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  }
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}
input::-webkit-outer-spin-button {
-webkit-appearance: none;
}  
input[type="button"], input[type="submit"], input[type="reset"],textarea {

-webkit-appearance: none;
appearance: none;
-ms-appearance: none;
-o-appearance: none;

}
  
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button {
  font-family: "microsoft yahei";
  border: 0;
  text-align: center;
  outline: none;
    -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
textarea
{
overflow-x: hidden;
overflow-y: auto;
resize: none;
}

a
{
text-decoration: none;
blr: expression(this.onFocus=this.blur());
text-decoration: none;
color: #3c3c3c;

}
/*去掉a标签的虚线框，避免出现奇怪的选中区域*/
/*a:hover{text-decoration:underline;}*/
a img
{
border: 0;
}

.clear
{
clear: both;
font: 0px arial;
line-height: 0;
overflow: hidden;
height: 0;
}

.floatleft
{
float: left;
}

.floatright
{
float: right;
}

.hide
{
display: none;
}
.hidden
{
visibility:hidden;
}
.visible
{
visibility:visible;
}

.InfoBr
{
word-break: break-all;
word-wrap: break-word;
}
/* 溢出文本显示省略号 begin*/
.txt-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 清除浮动 begin*/
.clearfix:after
{
content: '.';
display: block;
overflow: hidden;
visibility: hidden;
font-size: 0;
line-height: 0;
width: 0;
height: 0;
}

.clearfix:after
{
clear: both;
}

.clearfix
{
zoom: 1;
}